.center {
  text-align: center;
}

.title {
  font-size: 200%;
  font-family: "arial";
  color: black;
  font-weight: bold;
}

.small-title {
  font-size: 200%
  color: black;
  font-weight: bold;
  font-family: "arial";
}

.right-buffer {
  float: right;
}

.bottom-padding {
  padding-bottom: 1.5em;
}

.top-padding {
  padding-top: 1em;
}

.bottom-padding-radio {
  padding-bottom: 1em;
}

.btn-space {
    margin-right: 5px;
}

.left-btn-space {
  margin-left: 5px;
}

.h4 {
  font-family: Georgia;
}

.has-error {
  font-weight: bold;
  color: red;
}

.legend-title {
  font-size: 1.5em;
  font-weight: bold;
}
